.game-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: #e5dce7;
    margin-bottom: 20px;
}

.game-stats div {
font-size: 18px;
font-weight: bold;
}

#restart {
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    background: #c9abc6;
    cursor: pointer;
    font-size: 16px;
}
#restart:hover {
background: #af70a9;
box-shadow: 0 0 0 20px rgba();
}

.card-front {
  transform: rotateY(180deg)
}
.card.flipped .card-front {
  transform: rotateY(0deg)
}
.card.flipped .card-back {
  transform: rotateY(180deg)
}
